<h1>Create new Contact</h1>
<form action="/contacts" method="post" class="row cf">
	<div class="col-1-3 cf new-contact-headings">
		<input type="text" name="fname">First name<br>
		<input type="text" name="lname">Last name<br>
		<input type="text" name="email">Email<br>
		<input type="text" name="notes">Notes<br>
		<input type="submit" name="Submit">
	</div>

</form>